@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  background-color: black;
  color: white;
  height: 70px;
}

header h2 {
  font-weight: 200;
  color: white;
}

header ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.logo-icon {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  text-decoration: none;
  gap: 30px;
}

.img {
  height: 100%;
}

form {
  display: flex;
  align-items: center;
  position: relative;
}

form i {
  padding: 0 5px;
  color: black;
  position: absolute;
}

form input {
  padding: 0 20px;
  height: 30px;
  width: 350px;
}

nav {
  display: flex;
  align-items: center;
  gap: 100px;
}

.nav-links {
  text-decoration: underline;
  color: white;
  font-size: 14px;
}

.cart {
  text-decoration: none;
}
