@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgba(27, 25, 25, 1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(27, 25, 25, 1) 80%
  );
  color: white;
  height: 70px;
  position: fixed;
  width: 100%;
}

header h2 {
  font-weight: 200;
  color: white;
}

header ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.logo-icon {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  text-decoration: none;
  gap: 30px;
}

.img {
  height: 100%;
}
.img:hover {
  height: 115%;
  transition: 0.9s;
}

form {
  display: flex;
  align-items: center;
  position: relative;
}

form i {
  padding: 0 5px;
  color: black;
  position: absolute;
}

form .input-nav {
  padding: 0 20px;
  height: 30px;
  width: 800px;
}

nav {
  display: flex;
  align-items: center;
  gap: 100px;
}

.nav-links {
  text-decoration: underline;
  color: white;
  font-size: 14px;
}

.cart {
  text-decoration: none;
}

.title {
  padding: 50px 50px 0;
  height: 600px;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title h1 {
  font-size: 1.5rem;
  font-weight: 450;
}

.title h3 {
  font-weight: 150;
  width: 400px;
}

.img-title {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.img-title1 {
  width: 300px;
}

.img-title1,
.img-title2,
.img-title3 {
  max-width: 500px;
  height: 300px;
  border-radius: 15px;
}

.catalogue {
  height: 100px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.30575980392156865) 3%,
    rgba(27, 25, 25, 1) 100%
  );
  display: flex;
  justify-content: center;
}

.search-items {
  padding: 10px 0;
  width: 800px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.items {
  height: 50px;
}

.items-text {
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-decoration: none;
  color: grey;
  font-weight: 500;
}

.items:hover {
  height: 60px;
  transition: 0.5s;
}

.products-container {
  margin: 50px 0;
  height: 600px;
}

.products-container h2 {
  display: flex;
  justify-content: center;
  padding: 0 0 50px;
  color: white;
}

.top-ventas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  max-width: 1000px;
  margin: 0 auto;
}

.ventas {
  background-color: rgba(0, 22, 22, 0.432);
  border-radius: 15px;
  height: 250px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.ventas img {
  height: 200px;
  width: 250px;
}

.ventas:hover {
  background-color: rgba(128, 128, 128, 0.267);
  transition: 0.5s;
}

.ventas hr {
  border: 0;
  border-bottom: 2px solid #00000054;
}

.item-bot {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 500;
  color: grey;
}

.footer-container {
  height: 400px;
  padding: 50px;
  display: flex;
  gap: 30px;
  justify-content: space-around;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 70%,
    rgba(27, 25, 25, 1) 80%
  );
}

.inputs {
  max-width: 500px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
  top: 40px;
}

textarea {
  height: 100px;
  width: 400px;
  resize: none;
}

.map {
  margin: 50px 0;
}

iframe {
  height: 270px;
  max-width: 400px;
  border-radius: 5px;
}

.copyright {
  max-width: 600px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 50px 0 0;
}

.copyright hr {
  border: 0;
  height: 2px;
  width: 600px;
  border-bottom: 2px solid grey;
}
